<strong><i><h1 class="display-4 font-italic mt-3 " style="text-align:center">Secret Santa</h1></i></strong>

<div class="container" id="login-container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Log in</h4>
          <p class="card-text">With supporting text below.</p>
          <input type="text" class="form-control mt-3" placeholder="Username">
          <input type="text" class="form-control mt-3 mb-3" placeholder="Password">
          <a href="#" class="btn btn-outline-success mt-5">Log in</a>          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below</p>
          <input type="text" class="form-control mt-3" placeholder="Email">
          <input type="text" class="form-control mt-3" placeholder="Username">
          <input type="text" class="form-control mt-3" placeholder="Password">
          <a href="#" class="btn btn-outline-success mt-3">Create account</a>
        </div>
      </div>
    </div>
  </div>
</div>