
<h1 class="display-4 mt-3">Your groups</h1>
<div class="text-center mt-3">
  <%= link_to "Create new group", new_group_path, class: "btn btn-outline-success btn-lg justify-content-md-center"  %>
</div>
<div class="container mt-3" id="groups-index-container">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Group name</th>
        <th scope="col">Number of members</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% current_user.groups.each do |group| %>
      <tr>        
        <td><%= group.name %></td>
        <td><%= pluralize(group.members.count, "member") %></td>
        <td>
            <button type="button" class="btn btn-outline-info btn-sm">  View  </button>
            <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>            
        </td>
      </tr>
    <% end %>  
    </tbody>
  </table>
</div>