<div class="container mt-5">
  <div class="jumbotron text-center font-weight-bold" id="jumbotron-home">
    <strong><i><h1 class="display-4">Secret Santa</h1></i></strong>
    <p class="lead">Welcome on Secret Santa, free online gift exchange organizer.</p>    
    <p>To start you need to create account, just clik button below!</p>
    <p class="lead">
     <%= link_to "Start", login_path, class: "btn btn-danger btn-lg"  %>     
    </p>
  </div>
</div>
