
body {
  background-image: url("snow2.png");
  background-repeat: repeat-y;
  background-size: auto;  
 }
 
.container{
  margin-top: 100px;    
}

 #jumbotron-home {
  background-image: asset-url('secret_santa_2.png');
  background-position: center center;
  background-repeat: no-repeat;  
  height:  600px;
  
}

#login-container{
  width: 400px;
}

#new-group-container{
  width: 450px;
  height: 250px;
}
#groups-index-container{
  width: 700px; 
}

#create-account-container{
  width: 500px;
}
.navbar{
    background: none;
}

h1 {
  text-align:center;
  font-style: italic;
  font-weight: bold;
}

.center-block {
  display: table;  /* Instead of display:block */
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
}